In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import plotly.graph_objects as go
from prophet import Prophet
from prophet.plot import plot_plotly, plot_components_plotly
from datetime import date
from datetime import timedelta

In [2]:
data = pd.read_csv("data/ETHUSD_day.csv")

In [3]:
data.head()

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1.620620e+12,10-05-2021 04:00,ETHUSD,4060.21,4345.44,3500.00,3924.70,49801.11878
1,1.620530e+12,09-05-2021 04:00,ETHUSD,3874.49,4077.70,3725.00,4060.21,23638.51668
2,1.620450e+12,08-05-2021 04:00,ETHUSD,3539.73,3968.37,3512.13,3874.49,25676.87443
3,1.620360e+12,07-05-2021 04:00,ETHUSD,3427.49,3595.00,3355.01,3539.73,15974.56746
4,1.620270e+12,06-05-2021 04:00,ETHUSD,3478.06,3598.05,3402.01,3427.49,16516.66968

In [4]:
#df_mask= data['Date']=='05-01-2018 04:00'
#filtered_df = data[df_mask]
#filtered_df

In [5]:
ethereum_day = data.copy()

In [6]:
ethereum_day.head()

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1.620620e+12,10-05-2021 04:00,ETHUSD,4060.21,4345.44,3500.00,3924.70,49801.11878
1,1.620530e+12,09-05-2021 04:00,ETHUSD,3874.49,4077.70,3725.00,4060.21,23638.51668
2,1.620450e+12,08-05-2021 04:00,ETHUSD,3539.73,3968.37,3512.13,3874.49,25676.87443
3,1.620360e+12,07-05-2021 04:00,ETHUSD,3427.49,3595.00,3355.01,3539.73,15974.56746
4,1.620270e+12,06-05-2021 04:00,ETHUSD,3478.06,3598.05,3402.01,3427.49,16516.66968

In [7]:
ethereum_day.drop(columns=['Unix Timestamp', 'Symbol'], inplace=True)

In [8]:
ethereum_day.head()

               Date     Open     High      Low    Close       Volume
0  10-05-2021 04:00  4060.21  4345.44  3500.00  3924.70  49801.11878
1  09-05-2021 04:00  3874.49  4077.70  3725.00  4060.21  23638.51668
2  08-05-2021 04:00  3539.73  3968.37  3512.13  3874.49  25676.87443
3  07-05-2021 04:00  3427.49  3595.00  3355.01  3539.73  15974.56746
4  06-05-2021 04:00  3478.06  3598.05  3402.01  3427.49  16516.66968

In [9]:
ethereum_day.columns = ['Date', 'Opening_Price_ETH', 'Highest_rice_ETH', 'Lowest_Price_ETH', 'Lowest_Price_ETH', 'Vol_ETH']

In [10]:
ethereum_day.head()

,Date,Opening_Price_ETH,Highest_rice_ETH,Lowest_Price_ETH,Lowest_Price_ETH,Vol_ETH
0,10-05-2021 04:00,4060.21,4345.44,3500.00,3924.70,49801.11878
1,09-05-2021 04:00,3874.49,4077.70,3725.00,4060.21,23638.51668
2,08-05-2021 04:00,3539.73,3968.37,3512.13,3874.49,25676.87443
3,07-05-2021 04:00,3427.49,3595.00,3355.01,3539.73,15974.56746
4,06-05-2021 04:00,3478.06,3598.05,3402.01,3427.49,16516.66968

In [11]:
ethereum_day.describe()

,Opening_Price_ETH,Highest_rice_ETH,Lowest_Price_ETH,Lowest_Price_ETH,Vol_ETH
count,1828.000000,1828.000000,1828.000000,1828.000000,1.828000e+03
mean,369.512834,385.349130,353.399866,371.673660,3.356898e+04
std,489.590247,515.258537,468.345511,496.526275,6.227139e+04
min,0.000000,7.290000,0.000000,7.030000,0.000000e+00
25%,126.372500,131.260000,120.937500,126.737500,7.076064e+03
50%,219.610000,226.860000,210.010000,220.315000,1.721786e+04
75%,398.480000,413.017500,385.332500,399.615000,3.671964e+04
max,4060.210000,4345.440000,3725.000000,4060.210000,1.824554e+06

In [12]:
def df_info(df):
        len_df = len(df)
        all_columns = len(df.columns)

        print(f"""
        Longueur du dataset : {len_df} enregistrements
        Nombre de colonnes : {all_columns}
        """)

        echantillonColonnes = []
        for i in df.columns:
            listcolumn = str(list(df[i].head(5)))
            echantillonColonnes.append(listcolumn)
       
        pd.set_option("max_rows", None)
        obs = pd.DataFrame({'type': list(df.dtypes),
        'Echantillon': echantillonColonnes,
        "% de valeurs nulles":
        round(df.isna().sum() / len_df * 100, 2),
        'Nbr L dupliquées' : (df.duplicated()).sum(),
        'Nbr V unique' : df.nunique()
        })
        return obs
df_info(ethereum_day)

        Longueur du dataset : 1828 enregistrements
        Nombre de colonnes : 6

,type,Echantillon,% de valeurs nulles,Nbr L dupliquées,Nbr V unique
Date,object,"['10-05-2021 04:00', '09-05-2021 04:00', '08-0...",0.0,0,1828
Opening_Price_ETH,float64,"[4060.21, 3874.49, 3539.73, 3427.49, 3478.06]",0.0,0,1738
Highest_rice_ETH,float64,"[4345.44, 4077.7, 3968.37, 3595.0, 3598.05]",0.0,0,1690
Lowest_Price_ETH,float64,"['Lowest_Price_ETH', 'Lowest_Price_ETH']",0.0,0,1667
Lowest_Price_ETH,float64,"['Lowest_Price_ETH', 'Lowest_Price_ETH']",0.0,0,1725
Vol_ETH,float64,"[49801.118780000004, 23638.51668, 25676.87443,...",0.0,0,1805

In [13]:
print(f'total duplicate rows: {ethereum_day.duplicated().sum()}')
ethereum_day.shape

total duplicate rows: 0

(1828, 6)

In [14]:
ethereum_day = ethereum_day[~ethereum_day.duplicated()]
ethereum_day.shape

(1828, 6)

In [ ]:
ethereum_day['Date']

In [ ]:
ethereum_day['Date'] =ethereum_day['Date'].apply(lambda x:x.replace(' 04:00', ''))

In [ ]:
ethereum_day['Date']

In [ ]:
ethereum_day['Date'] = pd.to_datetime(ethereum_day['Date'], dayfirst=True )
ethereum_day['Date']

In [ ]:
df_mask= ethereum_day['Date']=='2018-01-05'
filtered_df = ethereum_day[df_mask]
filtered_df

In [ ]:
corr = ethereum_day.corr()
mask = np.triu(np.ones_like(corr, dtype=bool))
plt.figure(figsize=(8, 6))
sns.heatmap(corr, mask=mask, vmin=-1,cmap='RdYlBu_r', vmax=1, square=True,
            cbar_kws={"shrink": .75}, annot=True).set_title('Matrice de corrélation', fontsize=20);

In [ ]:
sns.clustermap(corr, annot=True, figsize=(8,8));

In [ ]:
ethereum_day.info()

In [ ]:
ethereum_day_opening_price = ethereum_day[["Date", "Opening_Price_ETH"]]

new_names = {
    "Date": "ds", 
    "Opening_Price_ETH": "y",
}

ethereum_day_opening_price = ethereum_day_opening_price.rename(columns=new_names)

In [ ]:
# plot the open price
x = ethereum_day_opening_price["ds"]
y = ethereum_day_opening_price["y"]

fig = go.Figure()
fig.add_trace(go.Scatter(x=x, y=y))# Set title
fig.update_layout(
    title_text="Time series plot of Ethereum Open Price",
)

fig.update_layout(
    xaxis=dict(
        rangeselector=dict(
            buttons=list(
                [
                    dict(count=1, label="1m", step="month", stepmode="backward"),
                    dict(count=6, label="6m", step="month", stepmode="backward"),
                    dict(count=1, label="YTD", step="year", stepmode="todate"),
                    dict(count=1, label="1y", step="year", stepmode="backward"),
                    dict(step="all"),
                ]
            )
        ),
        rangeslider=dict(visible=True),
        type="date",
    )
)

In [ ]:
model = Prophet(seasonality_mode="multiplicative")

model.fit(ethereum_day_opening_price);

In [ ]:
prediction = model.make_future_dataframe(periods = 365)
prediction.tail()

In [ ]:
forecast = model.predict(prediction)
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].head()

In [ ]:


next_day = (date(2021, 1, 1)) + timedelta(days=1)
forecast[forecast['ds'] == next_day]['yhat']

plot_plotly(model, forecast)