In [1]:
from data_clean import cleaning
from f_global import read_copy_csv, df_info

In [2]:
ethereum_day = read_copy_csv("C:/Users/utilisateur/Desktop/simplon_ia/travaux/referentiels/crypto/prophet/data/ETHUSD_day.csv")

In [3]:
ethereum_day = cleaning(ethereum_day)

In [4]:
df_info(ethereum_day)

        Longueur du dataset : 1828 enregistrements
        Nombre de colonnes : 6

,type,Echantillon,% de valeurs nulles,Nbr L dupliquées,Nbr V unique
Date,datetime64[ns],"[Timestamp('2021-05-10 00:00:00'), Timestamp('...",0.0,0,1828
Opening_Price_ETH,float64,"[4060.21, 3874.49, 3539.73, 3427.49, 3478.06]",0.0,0,1738
Highest_rice_ETH,float64,"[4345.44, 4077.7, 3968.37, 3595.0, 3598.05]",0.0,0,1690
Lowest_Price_ETH,float64,"['Lowest_Price_ETH', 'Lowest_Price_ETH']",0.0,0,1667
Lowest_Price_ETH,float64,"['Lowest_Price_ETH', 'Lowest_Price_ETH']",0.0,0,1725
Vol_ETH,float64,"[49801.118780000004, 23638.51668, 25676.87443,...",0.0,0,1805

In [5]:
ethereum_day.describe()

,Opening_Price_ETH,Highest_rice_ETH,Lowest_Price_ETH,Lowest_Price_ETH,Vol_ETH
count,1828.000000,1828.000000,1828.000000,1828.000000,1.828000e+03
mean,369.512834,385.349130,353.399866,371.673660,3.356898e+04
std,489.590247,515.258537,468.345511,496.526275,6.227139e+04
min,0.000000,7.290000,0.000000,7.030000,0.000000e+00
25%,126.372500,131.260000,120.937500,126.737500,7.076064e+03
50%,219.610000,226.860000,210.010000,220.315000,1.721786e+04
75%,398.480000,413.017500,385.332500,399.615000,3.671964e+04
max,4060.210000,4345.440000,3725.000000,4060.210000,1.824554e+06